body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin-top: 50px;
}
h1 {
    color: #2c3e50;
}
input {
    padding: 8px;
    margin: 10px;
}
button {
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #2980b9;
}
/*Añadimos nuevos estilos para la mejora de la interfaz*/
.mensaje-exito {
    color: rgb(223, 197, 110);
    font-weight: bold;
    padding: 10px;
    background-color: #5b1f17;
    border-radius: 4px; 
}
.mensaje-error {
    color: red;
    font-weight: bold;
    padding: 10px;
    background-color: #ffcccc;
    border-radius: 4px; 
}
/*Estilos para el nuevo botón de limpiar*/
.btn-secundario {
    padding: 8px 15px;
    background-color: #95a5a6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}
.btn-secundario:hover {
    background-color: #7f8c8d;
}